/* Fonts */

@font-face {
    font-family: eurofurence;
    src: url('../fonts/euroFurenceRegular/eurof55.ttf');
}

@font-face {
    font-family: LatoRegular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

/* Base */

/* * {
    box-sizing: border-box;
} */

html {
    font-family: 'LatoRegular',sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    cursor: context-menu;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
}

a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-items a:hover {
    color: #58c93a;
    border-bottom: 10px solid #58c93a;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-beetween {
    justify-content: space-between;
}

/* Header */
.logo-mobile {
    display: none;
}

.main-header {
    background-color: #292929;
    height: 120px;
    border-bottom: 10px solid #1e1e1e;
}

.main-nav {
    width: 100%;
}

.inner-container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.nav-items {
    height: 120px;
    font-size: 1em;
}

.nav-items:last-child {
    border-right: 1px solid #1e1e1e;
}

.nav-item {
    padding: 45px 30px;
    border-left: 1px solid #1e1e1e;
}

.logo {
    font-family: 'eurofurence', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    padding: 0 5px;
}

.green-dot {
    color: rgb(0, 255, 0)
}

.align-center {
    align-items: center;
}

.clean-list {
    list-style: none;
}

.active {
    color: #58c93a;
    border-bottom: 10px solid #58c93a;
}

.dropdown-content {
    display: none;
    margin-top: 3em;
    position: absolute;
    background-color: #141313;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #58c93a;
    border-bottom: 0 solid #58c93a;
}

.dropdown-content ul {
    padding-left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main */

main {
    background-color: white;
}

.blog-items {
    border-left: 1px solid #dedddd;
    border-right: 1px solid #dedddd;
}

.blog-image {
    padding-left: 20px;
}

.blog-item {
    padding-top: 60px;
    display: flex;

}

.blog-item:last-child {
    padding-bottom: 60px;
}

.info-text {
    flex: 0 1 100%;
    max-width: 430px;
    margin: 0 2em 0 2.5em;
}

.blog-title {
    padding-bottom: 40px;
    text-transform: uppercase;
}

p {
    color: #969696;
    font-size: 1em;
    cursor: context-menu;
}

.btn {
    border-radius: 50px;
    border: 3px solid #cac5c5;
    background-color: transparent;
    color: #cac5c5;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 30px;
    transition: all 0.5s;
    margin-top: 3em;
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); */
  }
  
.btn:after {
    content: '→';
    position: absolute;
    opacity: 0;  
    right: -20px;
    transition: 0.5s;
}
  
.btn:hover {
    padding-right: 24px;
    padding-left:8px;
    color: green;
    border-color: green;
    padding: 10px 40px;
}
  
.btn:hover:after {
    opacity: 1;
    right: 10px;
}

.blog-bottom {
    height: 80px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #dedddd;
}

.bottom-button {
    color: #818181;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: .3s
}



.bottom-button:hover {
    color: green;
}

/* Footer */
footer {
    background-color: #f4f4f4;
    height: 320px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-family: 'LatoRegular',sans-serif;
    flex-direction: column;
    padding: 85px 0;
}

.fa {
    cursor: pointer;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    opacity: 0.7;
    background: #969696;
    width: 1em;
    height: 14px;
    color: white;
    transition: 0.5s;
}

.fa:hover {
    background-color: #516fad;
}

.fa-button {
    padding-right: 14px;
}

.logo-footer {
    color: rgb(0, 0, 0);
}
.reserved-p {
    text-align: center;
}

.mobile-menu-button {
    display: none;
}

@media (max-width:1024px ) {
    h2 {
        padding-top: 10px;
        font-size: 1.1em;
    }

    footer {
        height: 200px;
    }

    .main-header {
        height: 60px;
    }

    .logo-mobile {
        display: inline-block;
        padding: 1em;
    }

    .inner-container {
        padding: 0 0;
    }

    .mobile-menu-button {
        display: block;
        right: 3em;
        position: absolute;
    }
    
    .nav-items {
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(174, 169, 169, 0.7);
        height: 100vh;
        width: 100vw;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        transform: translate(100%, 0);
        margin-top: 70px;
        transition: transform .8s;
    }

    .nav-items a {
        text-transform: uppercase;
        padding: 2em 2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
        transition: all 0.5s;
    }

    .nav-item {
        border: 1px solid #1e1e1e;
        margin: 1em 3em;
        background-color: gray;
    }

    .screen {
        position:fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        background: rgba(0, 0, 0, 0.35);
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
    
        transition: opacity .3s;
    }
    
    body.open .screen {
        visibility: visible;
        opacity: 1;
    }
    
    body.open .nav-items {
        transform: translate(0, 0);
    }
    .blog-item {
        border: 1px solid #dedddd;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        padding: 15px;
        margin: 15px 9px;
    }

    .blog-image {
        padding-left: 0;
    }

    .blog-item {
        flex-direction: column;
    } 

    .info-text {
        max-width: 100%;
    }

    .dropdown:focus .dropdown-content {
        display: block;
    }

    .dropdown-content {
        margin-top: 0em;
        position: inherit;
    }

    .dropdown-content a {
        border: 5px solid #58c93a;
    }

    .nav-items a:hover {
        border-bottom: 0 solid #58c93a;
    }

}

/* Modal */

.modal {
    z-index: 1;
    background-color: #5c5959da;
    position: fixed;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.blog-modal {
    position: fixed;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.blog-modal h2 {
    font-size: 1.5em;
}

.modal-container {
    padding: 5%;
}

.modal-container h2 {
    text-align: center;
}


.modal-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.email-input {
    width: 20rem;
    height: 2em;
    margin: 0.5em auto;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: none;
    border-bottom: .0625rem solid #757575;
}

.btn-close {
    color: white;
    background-color: #9a9a9a;
    font-family: 'LatoRegular',sans-serif;
    margin: 2em 1.5em;
    padding: 10px 30px;
    border: 3px solid #9a9a9a;
    text-transform: uppercase;
    transition: all .6s;
}

.btn-close:hover {
    cursor: pointer;
    color: green;
    border-color:  green;
    /* background-color: green; */
}

.btn-close-modal {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

@media (min-width: 640px) {
    .blog-modal {
        width: 50vw;
        height: 60vh;
        margin: 15% 25%;
    }

    .modal-btn {
        width: 100%;
    }
}